/* ESERCIZIO 1 */

.ex-1-square {
    transition: all 1s ease 0s;
}

.ex-1-square:hover {
    background-color: red;
}



/* ESERCIZIO 2 */

.ex-2-square {
    transition: all 3s ease;
}

.ex-2-square:active {
    width: 100%;
}


/* ESERCIZIO 3 */

.ex-3-square {
    transition: all 1s ease;
}

.ex-3-square:hover {
    border-radius: 50%;
}


/* ESERCIZIO 4 */

.ex-4-square {
    transition: all 1s ease-in-out;
}

.ex-4-square:hover {
    opacity: 0;
}


/* ESERCIZIO 5 */

.ex-5-square {
    
    transition: all 1s ease-in-out;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    
}

.ex-5-square:active {
    width: 50px;
    height: 50px;
    margin: 20px;
}


/* ESERCIZIO 6 */

.well .ex-6-img {
    transition: all 0s ease;
}

.well:hover .ex-6-img {
    filter: grayscale(1);
}


/* ESERCIZIO 7 */

.well .ex-7-img {
    transition: all 2s ease;
}

.well:hover .ex-7-img {
    filter: sepia(1) brightness(1);
    
}
 
/* ESERCIZIO 8 */

