/* ESERCIZIO 1 */

.ex-1-square {
    transition: all 1s ease 0s;
}

.ex-1-square:hover {
    background-color: red;
}



/* ESERCIZIO 2 */

.ex-2-square {
    transition: all 3s ease;
}

.ex-2-square:active {
    width: 100%;
}


/* ESERCIZIO 3 */

.ex-3-square {
    transition: all 1s ease;
}

.ex-3-square:hover {
    border-radius: 50%;
}


